<head>

    <title>{{ title }} - {{ sitename }} {{ TERMTYPE }}</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Schema.org {{TERMTYPE}}: {{term.label}} - {{term.comment}}" />
    <link rel="shortcut icon" type="image/png" href="{{docsdir}}/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="{{docsdir}}/schemaorg.css" />
    <link rel="stylesheet" type="text/css" href="{{docsdir}}/devnote.css" />
    <link rel="stylesheet" type="text/css" href="{{docsdir}}/prettify.css" />
    <script src="{{docsdir}}/prettify.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/docs/sdoheader.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{{docsdir}}/schemaorg.js"></script>
<!-- <script src="{{docsdir}}/debugwindow/viewconsole.js"></script> -->
    <script src="{{docsdir}}/sdotermpage.js"></script>
    {% if "newtables" in BUILDOPTS %}
        <link rel="stylesheet" type="text/css" href="{{docsdir}}/sdotermpage-new.css" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{docsdir}}/sdotermpage.css" />
    {% endif %}
    <script src="{{docsdir}}/pretty-markup/schemarama-parsing.bundle.min.js"></script>
    <script src="{{docsdir}}/pretty-markup/layout.js"></script>
    <link rel="stylesheet" type="text/css" href="{{docsdir}}/pretty-markup/style.css" />
    <script src="{{docsdir}}/clipboard/clipboard.min.js"></script>

<link rel="canonical" href="https://schema.org/{{term.id}}" />
   
</head>